<div class="contact-form">
  <%= bootstrap_form_for(@blog, id: "contact-form-with-recaptcha", class: "margin-clear") do |f| %>
    <div class="form-group has-feedback">
      <%= f.text_field :title %>
    </div>
    <div class="form-group has-feedback">
      <%= f.text_area :content %>
    </div>
    <%= f.submit %>
  <% end %>
</div>
