<section class="light-gray-bg pv-30 clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2 class="text-center">infra <strong>課題1</strong></h2>
				<div class="separator"></div>
			</div>
			<div class="col-md-4 col-md-offset-2 ">
				<div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
					<span class="icon default-bg circle"><i class="fa fa-user"></i></span>
					<h3>Admin</h3>
					<div class="separator clearfix"></div>
					<%= link_to admin_blogs_path, class: "btn btn-default btn-lg btn-animated" do %>Admin Blog <i class="fa fa-arrow-right"></i><% end %>
				</div>
			</div>
			<div class="col-md-4 ">
				<div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
					<span class="icon default-bg circle"><i class="fa fa-user"></i></span>
					<h3>User</h3>
					<div class="separator clearfix"></div>
					<%= link_to user_blogs_path, class: "btn btn-default btn-lg btn-animated" do %>User Blog <i class="fa fa-arrow-right"></i><% end %>
				</div>
			</div>
		</div>
	</div>
</section>
