section.content-header
  h1
    | Blog一覧
= link_to 'Blog作成', new_admin_blog_path, class: "btn bg-navy margin"
- if @blogs.any?
  .box.box-primary
    .box-body
      ul.products-list.product-list-in-box
        - @blogs.each do |blog|
          li.item
            .product-info
              = link_to admin_blog_path(blog), class: "product-title" do
                = blog.title
              span.label.label-warning.pull-right
                | 作成日：
                = blog.created_at.strftime('%Y年%m月%d日')
              span.product-description
                = truncate(blog.content, length: 100)
- else
  h4.label.label-info
    | Blogが存在しません。
= paginate @blogs, theme: "admin"
