<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">Menu</li>
      <li><%= link_to admin_blogs_path do %><i class="fa fa-link"></i> <span>Blog一覧</span><% end %></li>
      <li><%= link_to new_admin_blog_path do %><i class="fa fa-link"></i> <span>Blog作成</span><% end %></li>
    </ul>
  </section>
</aside>
