<div class="header-container">
	<header class="header fixed clearfix">
		<div class="container">
			<div class="row">
				<div class="col-md-3 ">
					<div class="header-left clearfix">
						<div id="logo" class="logo">
							<h3><%= link_to root_path , class: "logo-font" do %><span class="text-default">Sample</span><% end %></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
</div>
