<div class="header-container">
	<header class="header fixed clearfix">
		<div class="container">
			<div class="row">
				<div class="col-md-3 ">
					<div class="header-left clearfix">
						<div id="logo" class="logo">
							<%= link_to user_blogs_path do %><%= image_tag('logo_blue.png', id: "logo_img", alt: "The Project") %><% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
</div>
